#map {
  position: absolute;
  transform: translateX(-50%);
  margin-left: 50%;
  height: 105vh;
  width: 100vw;
  z-index: -20;
  cursor: default; }

#hide {
  position: absolute;
  background: #141414;
  z-index: 1200;
  bottom: -5vh;
  width: 100vw;
  height: 55px; }

.fa-comments {
  float: right;
  margin: 20px 50px 0 0;
  font-size: 35px;
  color: white;
  cursor: pointer; }

#mobileText {
  display: none; }

.center {
  transform: translate(-50%);
  margin-left: 50%;
  text-align: center; }

.vertical-align {
  position: relative;
  top: 150px;
  transform: translateY(-50%); }

.titles {
  width: 100em;
  height: 1.5em;
  font-size: 8rem;
  flex-wrap: no-wrap;
  font-weight: 500; }

#head-title {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600; }

.faq-nav {
  background: #272727;
  margin-bottom: 30px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px; }

.item-use {
  text-align: center;
  background: #FF8700;
  color: white;
  background: #272727;
  border-radius: 20px;
  line-height: 60px;
  height: 80px;
  white-space: nowrap;
  padding: 10px;
  transition: 0.1s ease-in-out; }

.item-use:hover {
  background: #FF8700; }

.notusing-beginBf {
  display: none;
  margin-top: 5vh;
  width: 90vw;
  height: 240vh;
  margin-bottom: 15vh; }

.using-beginBf {
  display: none;
  margin-top: 5vh;
  width: 90vw;
  height: 240vh;
  margin-bottom: 15vh; }

.wel {
  color: white;
  font-size: 50px;
  width: 100%;
  text-align: center; }

.lit {
  color: white;
  font-size: 20px;
  width: 100%;
  text-align: center; }

.faq-icon {
  margin-top: 40px;
  font-size: 45px;
  width: 100px;
  color: white;
  padding-bottom: 4px;
  border-bottom: 4px solid rgba(255, 255, 255, 0); }

.faq-icon:hover {
  border-bottom: 4px solid #FF8700; }

.faq-home {
  font-size: 45px;
  color: white; }

.header-container {
  position: fixed;
  width: 100%;
  top: 0px;
  font-size: 14px;
  font-weight: 400;
  height: 46px;
  line-height: 46px;
  z-index: 1000; }

.hamburger-container {
  position: fixed;
  float: right;
  width: 100%;
  height: 46px;
  z-index: 1005; }

.header-hamburger {
  display: block;
  width: 30px;
  height: 30px;
  line-height: 15px;
  position: relative;
  top: 14px;
  right: 15px;
  float: right;
  margin: 0;
  transform: rotate(0deg);
  cursor: pointer; }

.header-hamburger span {
  display: block;
  position: absolute;
  height: 3.5px;
  width: 100%;
  left: 0;
  background: #FF8700;
  z-index: 1000;
  box-sizing: border-box;
  border-radius: 7px;
  opacity: 1;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
  transition-property: transform, opacity; }

.header-hamburger span:nth-child(1) {
  top: 0px;
  transform-origin: left center; }

.header-hamburger span:nth-child(2) {
  top: 10px;
  transform-origin: left center; }

.header-hamburger span:nth-child(3) {
  top: 20px;
  transform-origin: left center; }

.header-hamburgerX span:nth-child(1) {
  transform: rotate(45deg) translateY(-1.5px); }

.header-hamburgerX span:nth-child(2) {
  transform: scaleX(0);
  opacity: 0; }

.header-hamburgerX span:nth-child(3) {
  transform: rotate(-45deg) translateY(1px); }

.quicknav-container {
  display: flex;
  justify-content: space-around;
  line-height: 2em;
  font-weight: 800;
  font-size: 1.5rem;
  z-index: 1000; }

.global-nav-link {
  color: white; }

.global-nav-link:hover {
  color: #FF8700; }

#myCarousel {
  height: 450px; }

.carousel-item {
  height: 350px; }

.download-link {
  margin: 18px 25px; }

.download-icon {
  height: 5rem; }

.facebook-icon {
  height: 10rem;
  float: left;
  width: 80%;
  margin-left: 10%;
  margin-top: 20em; }

.shed-icon {
  height: 15rem;
  margin-left: 5%;
  margin-top: 4em; }

.asks-icon {
  height: 10em; }

.iphone {
  position: relative;
  margin-top: 50px;
  margin-left: 5%;
  height: 800px; }

.more {
  display: flex;
  background: blue;
  width: 70vw;
  justify-content: space-around; }

.ask-title {
  min-height: 150px;
  width: 100vw;
  display: flex;
  flex-wrap: nowrap;
  background-image: url("../img/selectOne.svg");
  background-size: 560px 440px;
  background-repeat: no-repeat;
  background-position: center; }

.download-again {
  margin-top: 10px; }

.ask-nav {
  height: 300px;
  max-width: 600px;
  margin-top: 45px;
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap; }

.explain1 {
  width: 500px;
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  font-size: 65px;
  margin-left: 20px;
  color: white; }

.explain2 {
  padding-top: 55px;
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  margin-left: 50px;
  color: white;
  font-size: 1.7em;
  width: 900px; }

.iconOut {
  height: 182px;
  padding: 3px;
  width: 182px; }

.iconIn {
  height: 200px;
  padding: 3px;
  width: 200px; }

.dance {
  background: url("../img/dance-icon.svg") no-repeat center;
  background-size: 150px 150px; }

.dance:hover {
  background: url("../img/dance-icon white.svg") no-repeat center;
  background-size: 150px 150px; }

.drink {
  background: url("../img/drink-icon.svg") no-repeat center;
  background-size: 150px 150px; }

.drink:hover {
  background: url("../img/drink-icon white.svg") no-repeat center;
  background-size: 150px 150px; }

.message {
  background: url("../img/message-icon.svg") no-repeat center;
  background-size: 150px 150px; }

.message:hover {
  background: url("../img/message-icon white.svg") no-repeat center;
  background-size: 150px 150px; }

#typeASK {
  width: 550px;
  padding: 12px 20px;
  margin: 8px 150px;
  background: rgba(255, 255, 255, 0);
  color: white;
  border-radius: 50px;
  box-sizing: border-box; }

input:focus, textarea {
  outline: none !important; }

button:focus {
  outline: none !important; }

select:focus {
  outline: none !important; }

.button {
  margin-top: -20px;
  width: 350px;
  margin-left: 50%;
  transform: translate(-50%);
  display: flex;
  justify-content: space-around; }

.link {
  height: 45px;
  cursor: pointer; }

#barfriend {
  background-image: url(../img/barfriend-button.svg);
  background-position: center;
  background-size: 420px;
  background-repeat: no-repeat;
  padding-bottom: 20px;
  margin-top: 30px;
  height: 130px;
  width: 500px; }

#mobileIcon {
  display: none; }

@media only screen and (min-width: 1500px) {
  .explain1 {
    margin-left: -50px; }
  .explain2 {
    font-size: 35px;
    margin-left: -50px; } }

.FAQ {
  height: 50px;
  width: 100px;
  left: 50%;
  top: 20px;
  transform: translateX(-50%);
  position: fixed;
  z-index: 1300;
  cursor: pointer;
  z-index: 15500; }

#faq {
  height: 20px;
  z-index: 20500; }

@media only screen and (max-width: 1050px) {
  .butBetter {
    width: 50vw; }
  #navbar {
    display: none; }
  #logo {
    display: none; }
  #preview {
    display: none; }
  #features {
    display: none; }
  #mobileText {
    display: inline; }
  .inspire {
    width: 100vw;
    font-size: 4em;
    font-weight: 600; }
  .small {
    display: none; }
  #ask {
    display: none; }
  .download-icon {
    height: 6rem; } }

@media only screen and (max-width: 1050px) {
  .butBetter {
    width: 55vw; }
  .randy {
    display: none; }
  .small {
    display: block;
    margin-top: 30px;
    width: 100%; } }

@media only screen and (max-height: 750px) {
  .explain1 {
    width: 500px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 55px;
    margin-left: 20px;
    color: white; } }

.thanks-nav {
  position: fixed;
  height: 100px;
  z-index: 10010;
  margin-left: 50%;
  transform: translate(-50%); }

#messageBoard {
  background: #141414; }

.kitten {
  margin-left: 50%;
  transform: translateX(-50%);
  background: #1c1c1c;
  color: #FF8700;
  padding: 10px;
  width: 70%;
  margin-bottom: 10px;
  margin-top: 50px;
  border-radius: 30px; }

.userInfo {
  color: orange;
  margin-left: 50px; }

.myResponse {
  width: 70%;
  height: 45px;
  font-size: 15px;
  background: #131313;
  border: none;
  border-radius: 15px;
  text-align: left; }

.subject {
  padding: 20px;
  border-radius: 25px;
  text-align: center;
  display: inline-block;
  margin-left: 50%;
  transform: translateX(-50%);
  background: black; }
