* {
  list-style: none;
  text-decoration: none;
  color: #202020; }

body {
  background: #1b1b1b;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Roboto", "Open Sans", "AvenirNext", "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 16px;
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+/Edge */
  user-select: none;
  /* Standard */ }

a {
  cursor: pointer; }

a:hover {
  text-decoration: none; }

::-webkit-scrollbar {
  display: none; }

.hidden {
  display: none !important; }

#coaster {
  height: 25px;
  width: 25px;
  background-image: url(../img/coasterOrange.svg);
  background-size: 25px; }

#logo {
  width: 100vw;
  height: 100vh;
  border-radius: 7px; }

#quickNav {
  width: 100%;
  background: #61f361; }

#features {
  margin-top: 50px;
  height: 850px;
  background-position: center;
  background-size: 400px 800px;
  background-repeat: no-repeat;
  background-position-y: 50px;
  background-position-x: 106%; }

.fader {
  position: absolute;
  height: 950px;
  margin-top: -30px;
  left: 0;
  right: 10%;
  background-position: center;
  background-size: 400px 850px;
  background-repeat: no-repeat;
  background-position-y: 0px;
  background-position-x: 100%;
  z-index: -99; }

#greenCircle {
  height: 1000px; }

#preview {
  height: 400px; }

.footer {
  height: 10px;
  box-shadow: 20px -20px 120px #ff8700;
  bottom: -10px;
  left: -10px;
  right: -10px;
  z-index: -10000;
  position: fixed; }

@media only screen and (max-width: 1220px) {
  .fader {
    position: absolute;
    height: 950px;
    margin-top: -30px;
    left: 0;
    right: 2%;
    background-position: center;
    background-size: 370px 760px;
    background-repeat: no-repeat;
    background-position-y: 50px;
    background-position-x: 100%;
    z-index: -99; } }

@media only screen and (max-width: 1050px) {
  body {
    height: 1000px;
    width: 100vw;
    background-image: linear-gradient(-180deg, #FF8700 0%, rgba(255, 45, 44, 0.84) 100%); } }

@media only screen and (max-width: 950px) {
  body {
    height: 1100px; } }

@media only screen and (max-width: 600px) {
  body {
    height: 1000px; } }

@media only screen and (max-width: 500px) {
  body {
    height: 1000px;
    width: 100vw; } }

@media only screen and (max-height: 700px) {
  .fader {
    position: absolute;
    height: 950px;
    left: 0;
    right: 2%;
    background-position: center;
    background-size: 290px 560px;
    background-repeat: no-repeat;
    background-position-y: 30px;
    background-position-x: 95%;
    z-index: -99; } }
